# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DOTSMan.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\DOTSMan\.idea\.idea.DOTSMan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
